body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
display:flex;
}

.sidebar{
width:220px;
background:#020617;
padding:20px;
height:100vh;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin:15px 0;
cursor:pointer;
}

.main{
flex:1;
padding:40px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.camera{
margin-top:40px;
}

.camera-box{
height:300px;
background:black;
border-radius:10px;
display:flex;
align-items:center;
justify-content:center;
}